@model PatientInsuranceViewModel

@{
    ViewData["Title"] = "InsuranceClaimReceipt";
    Layout = null;
}
@using (Html.BeginForm("Export", "PatientInsurance", FormMethod.Post))
{
<div id="Grid">
    @Html.Partial("_PatientInsuranceDetails", Model)
</div>
}
<input type="hidden" name="GridHtml" />

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
@*<script type="text/javascript">
    jQuery(window).on("load", function () {
        alert('page is loaded');
        $("input[name='GridHtml']").val($("#Grid").html());

        setTimeout(function () {
            alert('page is loaded and 1 minute has passed');
        }, 60000);

    });
</script>
*@

